.productlist{
    align-content: center;  
    padding-top: 100px;
}

.product-container{
    max-width: 1500px;
    width: 90%;

    /* display: flex;
    justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid red;  */
}

.product-heading{
    display: block;
    text-align: center;
    margin: 0 auto;
    
}
.product-heading h2{
    display: inline-block;
   border-bottom: 1px solid black;
   font-weight: bold;
}

.product-card{
    position: relative;
    margin: 10px 10px;
    padding: 20px 10px;
    width: 23%;
    min-height: 330px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.4); */
    transition: transform 0.3s;
    background-color: white;
}

hr{
    border-top: 1px solid gray !important;
    margin: 10px !important;
}

.product-img{
    text-align: center;
    background-color: white;
    height: 250px;
}
.product-img img{
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.product-title{
    text-align: center;
}

.product-title span{
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    width: 90%;

}

.icon i{
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.icon:hover{
    cursor: pointer;
}

.red{
    color: red  ;
}

/* .product-rating,.product-price{
    margin-top: 20px;
   
} */

.product-rating span{
    position: relative;
    text-align: center;
    margin: 0;
    color: white;
    padding: 0px 10px 2px 10px;
    border-radius: 5px;
    background-color: green;
}

.product-price span{
   font-weight: bold;
}


.add-to-cart{
    text-align: center;
    margin-top: 15px;
}

.add-to-cart-btn{
    background-color: #3399ff !important;
}

.add-to-cart button{
    width: 100%;
    color: white;
}


.loading{
    color: red;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

