.cartlist {
    margin-top: 80px;
    position: relative;
}

.br1 {
    border: 1px solid red;
}

.cart-header {
    width: 450px;
    padding: 150px 20px 20px 50px;
}

.total-price h5 {
    margin-top: 30px;
}

.delivery h5 {
    margin-top: 20px;

}

.cart-header hr {
    margin: 20px 0px !important;
}

.cart-header button {
    width: 100%;
    margin-top: 10px;
}

.cart-header h4 {
    margin: 0;
    line-height: 1.6;
    color: #1976d2;
    margin-right: 20px;
}

.total-price,
.delivery {
    display: flex;
    justify-content: space-between;
}

.cart-header .btn {
    color: white
}

.close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
}

.close-button:hover {
    color: rgb(230, 5, 5);
    cursor: pointer;
}

.cartlist-empty {
    padding: 200px 0px;
    text-align: center;
    min-height: 500px;
    margin: auto;

}

.cartlist-empty h1 {
    opacity: 0.5;
    margin: auto;
}

.cartlist-card {
    display: flex;
    position: relative;
    max-width: 800px;
    padding: 20px 0px;
    margin: 20px auto;
    border-bottom: 2px solid rgb(212, 212, 212);
}

.cartlist-img {
    padding: 20px;
    width: 50%;
    max-height: 300px;
}

.cartlist-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cartlist-content{
    width: 50%;
    padding: 20px;
}

.cartlist-title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

}

.cartlist-discription {
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}


.cartlist-price,
.cartlist-rating {
    margin-top: 20px;
}

.cartlist-price h6 {
    padding: 2px 0px;
}

.cartlist-rating span {
    text-align: center;
    color: white;
    margin: 0px 5px;
    padding: 0px 10px 2px 10px;
    border-radius: 5px;
    background-color: green;
}

.cartlist-button {
    margin-top: 20px;
}

.cartlist-button button {
    color: white;
}

.cartlist-button p {
    min-width: 30px;
    text-align: center;
    padding: 6px 16px;
    font-weight: medium;

}

.add-quantity,
.remove-quantity {
    min-width: 30px !important;
}

.cartlist-content-box{
    min-height: 700px;
    width: 100%;
    margin: auto;
}

.cartlist-container {
    margin-top: 50px;
    padding: 20px 30px;
    max-width: 900px;
    max-height: 650px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.cartlist-container::-webkit-scrollbar {
    width: 10px !important;
}

.cartlist-container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.cartlist-container::-webkit-scrollbar-thumb {
    background: #1976d2 !important;
    border-radius: 10px
}

